[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-ocaml"]
	path = vim/bundle/vim-ocaml
	url = https://github.com/jrk/vim-ocaml.git
